# Byte-compiled / caches
__pycache__
*.pyc
*.pyo
*.pyd

# Packaging
build
dist
*.egg-info
.wheelhouse
.wheels

# Virtualenvs
venv
env
.venv

# Git and editor files
.git
.gitignore
.vscode
.idea

# Tests / local config / node
.local
.DS_Store
*.log

# Docker files
Dockerfile.*